.heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30;
    font-stretch: expanded;
}
b{
    color: white;
}
body{
    background-color: black;
}
.div1{
    color:red;
    border-radius: 5px 5px;
    background-color: red;
}
.button{
    border-radius: 50%;
    size: 100px;
    padding:30px;
    margin:35px;
}

.divs{
    height:100px;
    padding:20px;
    margin-left: 150px;
}
#random{
    background-color: white;
    height: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.h{
    size: 20px;
    height: 30px;
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
}
